{% extends 'base.html'%}

{% block content %}
   <img src="/static/images/Banner_003_large+morrechflot.jpg" class="img-fluid"  style="margin: 0; width:auto; margin-block-start: 0;" alt="...">

    <div class="container" style="text-align: justify;">

        <h1><span class="title">Об олимпиаде</span> </h1>

          <p>К участию в Морской олимпиаде приглашаются учащиеся <b>7-8</b> и <b>9-11</b> классов общеобразовательных учреждений и студенты 1-2 курсов профессиональных образовательных организаций РФ, а также ближнего и дальнего зарубежья.</p>
          <p>Олимпиада состоит из двух туров – отборочный (заочный) и заключительный.</p>
          <p><b>Отборочный (заочный) тур</b> проводится с использованием дистанционных технологий с ограниченным по времени доступом к заданиям (60 минут) в форме ответов на вопросы викторины по морской тематике.</p>
          <p><b>Заключительный тур</b> олимпиады проводится на площадках образовательных организаций, являющихся организаторами олимпиады, в очной формате или с применением дистанционных технологий в режиме реального времени в форме выполнения олимпиадных заданий по предметам. Продолжительность: 240 минут.</p>

          <span class="documents" onclick="window.location.href='/static/documents/MO_Manual.pdf';">Инструкция к личному кабинету</span> <br> <br>

          <p><b>Предметы:</b></p>

          <div class="container-fluid" style = "margin-top: 2%; margin-bottom: 4%;">
            <div class="row">
              <div class="col-6 col-sm-4"> <img src="/static/images/Courses/MO_courses_sudo.png" style = "padding-bottom: 20px;"  class="d-block w-100" alt="..."></div>
              <div class="col-6 col-sm-4"> <img src="/static/images/Courses/MO_courses_ArticSec.png" style = "padding-bottom: 20px;"  class="d-block w-100" alt="..."></div>
              <div class="col-6 col-sm-4"> <img src="/static/images/Courses/MO_courses_Port.png" style = "padding-bottom: 20px;"  class="d-block w-100" alt="..."></div>
          
              <div class="w-100 d-none d-md-block"></div>
        

              <div class="col-6 col-sm-4"> <img src="/static/images/Courses/MO_courses_radio.png" class="d-block w-100" alt="..."></div>
              <div class="col-6 col-sm-4"> <img src="/static/images/Courses/MO_courses_rlogistic.png" class="d-block w-100" alt="..."></div>
              <div class="col-6 col-sm-4"> <img src="/static/images/Courses/MO_courses_Morengpsd.png" class="d-block w-100" alt="..."></div>
            </div>
          </div>


        <h1><span class="title">Даты проведения</span> </h1>

            <p style="text-indent: 0%;">
            <b>01.11.2021 – 31.01.2022</b> — Регистрация и проведение отборочного (заочного) тура олимпиады <br/>
            <b>Март 2022</b> (по отдельному графику) — Проведение заключительного тура олимпиады </p>
            


         <h1><span class="title" >Нормативные документы</span> </h1> 
         
         <span class="documents" onclick="window.location.href='/static/documents/MO_Statement.pdf';">Положение об олимпиаде</span> <br>
         <span class="documents" onclick="window.location.href='/static/documents/MO_Regulation.pdf';">Регламент олимпиады</span> <br>
         <span class="documents" onclick="window.location.href='/static/documents/MO_Agreement_Underage.docx';">Соглашение на обработку ПДн (для несовершеннолетних)</span> <br>
         <span class="documents" onclick="window.location.href='/static/documents/MO_Agreement_Adults.docx';">Соглашение на обработку ПДн (для совершеннолетних)</span>

        <h1><span class="title">Организаторы</span> </h1>
        
          <div class="container-fluid" style = "margin-top: 4%; margin-bottom: 4%;">
            <div class="row justify-content-center" >
              <div class="col-4 col-sm-2">  <a href="http://morflot.gov.ru"> <img src="/static/images/Org/Org_logo_morflot.png" class="d-block w-100" alt="..."> </a> </div>
              <div class="col-4 col-sm-2"> <a href="https://gumrf.ru"> <img src="/static/images/Org/Org_logo_gumrf.png" class="d-block w-100" alt="..."> </a> </div>
              <div class="col-4 col-sm-2"> <a href="http://www.vsuwt.ru"> <img src="/static/images/Org/Org_logo_vguvt.png" class="d-block w-100" alt="..."> </a> </div>
              <div class="col-4 col-sm-2"> <a href="http://www.ssuwt.ru"> <img src="/static/images/Org/Org_logo_sguvt.png" class="d-block w-100" alt="..."> </a> </div> 
              <div class="col-4 col-sm-2"> <a href="https://www.msun.ru"> <img src="/static/images/Org/Org_logo_mgu.png" class="d-block w-100" alt="..."> </a> </div>
            </div>
          </div>


        <h1><span class="title">Контактная информация организаторов</span> </h1>
          
          <p style="text-indent: 0%;"> <a href="https://gumrf.ru/sveden/struct/centr/dovuzobr" style ="color:#333366; text-transform: inherit;;">Центр Довузовского образования ГУМРФ им. адм. С.О. Макарова </a> — тел. +7 (812) 251-11-41 <br/>
          Отдел приема абитуриентов и профориентации ВГУВТ — тел. +7 (831) 419-78-14 <br/>
          Отдел взаимодействия с потребителями и профориентации СГУВТ — тел. +7 (383) 222-49-83 <br/>
          Центр «Абитуриент МГУ им. адм. Г.И. Невельского» — тел. +7 (423) 230-12-50  </p>

    </div>
   
<br/>
{% endblock %}