{% extends 'base.html'%}

{% block content %}
    <img src="/static/images/Banner_003_large+morrechflot.png" class="img-fluid"  style = "margin: 0; width:auto; margin-block-start: 0;" alt="...">
    
    <div class="container" style="text-align: justify;">

        <h1><span style="background-color: #E32406; padding-left: 5px; padding-right: 5px;">Об олимпиаде</span> </h1>

          <p class="lh-1">К участию в Морской олимпиаде приглашаются учащиеся <b>7-8</b> и <b>9-11</b> классов общеобразовательных учреждений и студенты 1-2 курсов профессиональных образовательных организаций РФ, а также ближнего и дальнего зарубежья.</p>
          <p class="lh-1">Олимпиада состоит из двух туров – отборочный (заочный) и заключительный.</p>
          <p class="lh-1"><b>Отборочный (заочный) тур</b> проводится с использованием дистанционных технологий с ограниченным по времени доступом к заданиям (60 минут) в форме ответов на вопросы викторины по морской тематике.</p>
          <p class="lh-1"><b>Заключительный тур</b> олимпиады проводится на площадках образовательных организаций, являющихся организаторами олимпиады, в очной формате или с применением дистанционных технологий в режиме реального времени в форме выполнения олимпиадных заданий по предметам. Продолжительность: 240 минут.</p>

        <!-- <div class="container">
            <div class="row g-2">
              <div class="col-6">
                <div class="p-0"> <img src ="/static/images/MO_courses_ArticSec.png"> </div>
              </div>
              <div class="col-6">
                <div class="p-2 border bg-light"> <img src ="/static/images/MO_courses_ArticSec.png"> </div>
              </div>
              <div class="col-6">
                <div class="p-3 border bg-light"> <img src ="/static/images/MO_courses_ArticSec.png"> </div>
              </div>
              <div class="col-6">
                <div class="p-3 border bg-light"> <img src ="/static/images/MO_courses_ArticSec.png"> </div>
              </div>
              <div class="col-6">
                <div class="p-3 border bg-light"> <img src ="/static/images/MO_courses_ArticSec.png"> </div>
              </div>
              <div class="col-6">
                <div class="p-3 border bg-light"> <img src ="/static/images/MO_courses_ArticSec.png"> </div>
              </div>
            </div>
          </div>
         -->
        <h1><span style="background-color: #E32406; padding-left: 5px; padding-right: 5px;">Даты проведения</span> </h1>
          
          <!-- <div class="position-relative m-4" style="width: 100; margin: auto;">
              <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
              <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
              <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
          </div> -->

            <p style = "text-indent: 0%;"> <b>28.10.2021 – 28.01.2022</b> — Регистрация на отборочный тур олимпиады <br/>
            <b>01.11.2021 – 31.01.2022</b> — Проведение отборочного (заочного) тура олимпиады <br/>
            <b>Март 2022</b> (по отдельному графику) — Проведение заключительного тура олимпиады </p>


        <h1><span style="background-color: #E32406; padding-left: 5px; padding-right: 5px;">Новости</span> </h1>
            
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 50%; margin: auto;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/News_ex_001.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <a href = "{{ url_for('path.news') }}" ><img src="/static/images/News_ex_002.png" class="d-block w-100" alt="..."> </a>   
                        <!-- #Если нажать на картинку -- перейдет по линке на страницу новости  -->
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>

        <h1><span style="background-color: #E32406; padding-left: 5px; padding-right: 5px;">Нормативные документы</span> </h1>
            
          <a href="https://docs.google.com/document/d/1oCPBaxbFt-29gJd_oS8e5_tKGaX4dH3fTR3DQmbfKp4/edit" style = "color: #333366;"> Положение об олимпиаде</a>


        <h1><span style="background-color: #E32406; padding-left: 5px; padding-right: 5px;">Организаторы</span> </h1>

        Vivamus eget pretium odio. Nunc eros felis, mollis sed risus sit amet, tristique lobortis massa. Nunc non leo iaculis, gravida ligula eget, ultricies libero. Ut eleifend sodales mi, vel finibus erat venenatis ut. Suspendisse justo est, fringilla sed tincidunt ullamcorper, viverra in leo. Praesent vehicula, mauris eu porta fermentum, ante lectus molestie ligula, fermentum ullamcorper nisl dolor non nunc. Proin pellentesque, arcu vel placerat gravida, arcu massa viverra diam, eget maximus nibh nulla sit amet elit. Mauris vehicula a orci eu volutpat.

        Pellentesque id ipsum metus. Vestibulum eget ligula libero. Nam pharetra eu quam non fermentum. Phasellus gravida felis ut turpis malesuada, vel consequat nisl mattis. Pellentesque sodales posuere lectus quis accumsan. Nulla semper lectus ac dui euismod porta. Nam vel lacus quam. Ut auctor ultrices sem, id vehicula urna bibendum a. Aliquam egestas mattis scelerisque. Suspendisse eget neque eget magna ultrices tincidunt. Praesent orci velit, molestie non diam eu, sollicitudin vehicula neque.

        Etiam vestibulum fermentum orci in facilisis. Donec accumsan ornare vestibulum. Pellentesque ultricies turpis vel felis gravida luctus. Vestibulum commodo ante est, sit amet egestas erat luctus eget. Ut ut diam fermentum, lobortis ex at, hendrerit nunc. Nunc eu tortor ac lorem mattis dignissim rutrum sit amet felis. Nullam et aliquet ipsum. Etiam pulvinar, odio vulputate varius imperdiet, risus elit semper nisl, eu viverra mauris nisi id nisi. Ut non tempus eros, nec faucibus odio. Nam et neque turpis. Proin id nibh dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse odio nibh, lacinia ut mi sed, blandit tristique lectus. Nulla facilisi.

        <h1><span style="background-color: #E32406; padding-left: 5px; padding-right: 5px;">Контактная информация организаторов</span> </h1>
          
          <p style = "text-indent: 0%;"> <a href="ttps://gumrf.ru/sveden/struct/centr/dovuzobr">Центр Довузовского образования ГУМРФ им. адм. С.О. Макарова </a> — тел. +7 (812) 251-11-41 <br/>
          Отдел приема абитуриентов и профориентации ВГУВТ — тел. +7 (831) 419-78-14 <br/>
          Отдел взаимодействия с потребителями и профориентации СГУВТ — тел. +7 (383) 222-49-83 <br/>
          Центр «Абитуриент МГУ им. адм. Г.И. Невельского» — тел. +7 (423) 230-12-50  </p>

    </div>
   
<br/>
{% endblock %}