<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">  -->

    <link href="https://allfont.ru/allfont.css?fonts=franklin-gothic-demi-cond" rel="stylesheet" type="text/css" />
    <link href="https://allfont.ru/allfont.css?fonts=franklin-gothic-book" rel="stylesheet" type="text/css" />

    <title>Морская олимпиада</title>
    {% include 'navbar.html' %}
  </head>

  <style type="text/css">
    p{ 
      font-family: 'Franklin Gothic Book', arial;
      text-indent: 3%;
      color: #333366;
      font-size: 150%;
    }
    h1{
      font-family: 'Franklin Gothic Demi Cond', arial;
      margin-top: 4%; 
      margin-bottom: 4%;
      
      padding: 10px;
      font-stretch: ultra-condensed;
    }
    a{
      text-decoration: none; 
      text-transform:uppercase;
    }
    span{
      text-transform:uppercase;

      color: white;

    }
  </style>


  <body >
    <!-- <div class="container"> -->
        {% block content %}
        {% endblock %}
    <!-- </div> -->

    {% include 'footer.html'%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>