<nav class="navbar navbar-expand-lg navbar sticky-top navbar-dark" style="background-color: #0D3055; border-bottom: 4px solid white;"> 
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/images/logo-text.png" alt="" height="35px" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-1 md-lg-0 d-flex justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="https://vi.gumrf.ru/">Личный кабинет</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

