<nav class="navbar navbar-expand-lg navbar sticky-top navbar-dark" style="background-color: #0D3055; border-bottom: 4px solid white;"> 
  <div class="container">
    <a class="navbar-brand" href="/" style = "font-family: 'Franklin Gothic Demi Cond', arial; ">
      <img src="/static/images/logo.png" alt="" width="45" height="45" class="d-inline-block align-text-top">
    </a>

    <a class="navbar-brand lh-1">
      <dt style = "text-transform:uppercase; font-family: 'Franklin Gothic Book', arial; font-size: 80%;">Единая отраслевая мультипредметная</dt>
      <dt style = "text-transform:uppercase; font-family: 'Franklin Gothic Demi Cond', arial;" >Морская олимпиада школьников </dt>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-end"> <!-- wtf :(-->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ url_for('path.news') }}">Новости</a>
        </li>  -->
        <li class="nav-item">
          <a class="nav-link" href="https://vi.gumrf.ru/">Личный кабинет</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

