<!-- <nav class="navbar navbar-expand-lg navbar sticky-top navbar-dark" style="background-color: #0f3b5a;"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Морская олимпиада</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('path.about') }}">Об олимпиаде</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://vi.gumrf.ru/">Личный кабинет</a>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar sticky-top navbar-dark" style="background-color: #0f3b5a;"> 
  <div class="container-fluid">
    <a class="navbar-brand">Морская олимпиада</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('path.news') }}">Об олимпиаде</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('path.news') }}">Личный кабинет</a>
      </li> 
    </form>
  </div>
</nav> -->

  <!-- <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('path.about') }}">Об олимпиаде</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('path.news') }}">Новости</a>
  </li> 
  <li class="nav-item">
    <a class="nav-link" href="https://vi.gumrf.ru/">Личный кабинет</a>
  </li> -->


<nav class="navbar navbar-expand-lg navbar sticky-top navbar-dark" style="background-color: #0f3b5a;  font-family: 'Roboto', sans-serif;"> 
  <div class="container" >
    <a class="navbar-brand" href="#">
      <img src="/static/images/MO_courses_ArticSec.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Морская олимпиада
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end">
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ url_for('path.about') }}">Об олимпиаде</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('path.news') }}">Новости</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="https://vi.gumrf.ru/">Личный кабинет</a>
        </li>
      </ul>
    </div>
  </div>
</nav>